
@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';
// @import 'buttons';
@import 'containers';
@import 'images';
@import 'mobile';
@import 'tablet';
@import 'desktop';






body{
  // background: pink;
}

// #resizable { width: 150px; height: 150px; padding: 0.5em; }
// #resizable h3 { text-align: center; margin: 0; }
